### What are iterable objects?

2. Definition
Simply put, iterable objects or Iterables represent any object that can be used in a for loop, meaning that it stores an element sequence. You already know a lot of Iterables: list, tuple, set, dictionary, and string.

3. Iterating through a list or tuple
Iterating through a list or tuple is very straightforward: the items are retrieved in the sequence we see them.

4. Iterating through a set
Set items, on the other hand, are retrieved disordered compared to how we inserted them.

5. Iterating through a string
Iterating through a string provides its character sequence.

6. Iterating through a dictionary
A dictionary is not that obvious. We get the keys but not the values.

7. Getting key-value pairs
To iterate through key-value pairs, we have to use dictionary .items() method.

8. Getting key-value pairs
We can unwrap each tuple right in the definition of the for loop. Here we use title and subtitle instead of item.

9. Less visual objects: range
So far, we mentioned pretty visual objects. But let's consider the range object we use a lot. It doesn't have a clear output representation like a list. It is Iterable though: it knows how to retrieve consecutive items when needed.

10. Less visual objects: enumerate
Another example is an enumerate object. To create it, we need to pass an Iterable to the enumerate() constructor. Looping over this object results in tuples which add an index to each item from the given Iterable. Since we deal with tuples, we can rewrite our loop

11. Less visual objects: enumerate
like this, to print the index and the corresponding element.

12. Iterables as arguments
Iterables can be passed to constructors such as list(), tuple(), set() and so on to create corresponding data structures. Taking, for example, the enumerate object from our previous example, we can easily convert it to a list

13. Iterables as arguments
or a set.

14. How to know if we deal with an Iterable
How to know if we deal with an Iterable? Here's the trick. We can apply the iter() function on it. If we deal with an Iterable, this function returns a special object called Iterator. This object knows how to retrieve consecutive elements from an Iterable one by one. It is because you can apply a special function on it called next() that returns the consecutive element in a given sequence.

interval = range(0,5)
interval_iter = iter(interval)    ### interval_iter is an object
next(interval_iter)
> 0

15. StopIteration
We can call it until a StopIteration error is raised, indicating that there are no more values to iterate through.

16. Describing a for loop
Why is an Iterator important for an object to be Iterable? Let's see how a for loop works under the hood. Here's our Iterable. First, the associated Iterator is retrieved. Then, a while loop is created that stops only when StopIteration error is raised.

17. Describing a for loop
Inside the try block we apply the next() function on the Iterator and print the result. Here's the output of the code exactly matching the one with the for loop.

18. Many Iterables are Iterators
Many Iterables are actually Iterators meaning we can apply both functions on them. An enumerate and finditer object from the previous lesson are good examples.

19. iter() or next()
We can either loop over the object

20. iter() or next()
or apply the next() function.

21. Expendable Iterables
Iterables that are Iterators normally can be traversed only once. Looping over the same object again is not possible. That behavior contrasts with pure Iterables we can't apply the next() function on.

22. Traversing a DataFrame
A DataFrame also provides many possibilities for traversing its elements. Let's consider this DataFrame describing some characters from the Star Wars.

23. Direct approach
If we put the DataFrame directly in a for loop, each item will represent a column name. Let's consider other approaches.

24. .iterrows()
One is to loop over an object returned by the .iterrows() method.

25. .iterrows()
Each item in this case is a tuple consisting of a row index name and a data Series containing all the information on that row. Of course, it can be unwrapped

26. .iterrows()
like this.

27. .iteritems()
Another approach is to loop over an object returned by .iteritems() method.

28. .iteritems()
Each item in this case is a tuple containing a column name and a data Series with all the information in that column.

29. .iteritems()
It can be also unwrapped.

30. Let's practice!
We covered pretty much information on Iterables. Let's practice

#### enumerate()

Let's enumerate! Your task is, given a string, to define the function retrieve_character_indices() that creates a dictionary character_indices, where each key represents a unique character from the string and the corresponding value is a list containing the indices/positions of this letter in the string.

For example, passing the string 'ukulele' to the retrieve_character_indices() function should result in the following output: {'e': [4, 6], 'k': [1], 'l': [3, 5], 'u': [0, 2]}.

For this task, you are not allowed to use any string methods!

In [1]:
def retrieve_character_indices(string):
    character_indices = dict()
    # Define the 'for' loop
    for index, character in enumerate(string):
        # Update the dictionary if the key already exists
        if character in character_indices:
            character_indices[character].append(index)
        # Update the dictionary if the key is absent
        else:
            character_indices[character] = [index]
            
    return character_indices
  
print(retrieve_character_indices('enumerate an Iterable'))

{'e': [0, 4, 8, 15, 20], 'n': [1, 11], 'u': [2], 'm': [3], 'r': [5, 16], 'a': [6, 10, 17], 't': [7, 14], ' ': [9, 12], 'I': [13], 'b': [18], 'l': [19]}

#### Iterators

Let's check your knowledge on Iterators!

As we discussed, all Iterables like list, set, or dict must have the associated Iterator. You are given the dictionary pets whose keys are Harry Potter characters and the values are the corresponding creature companions they had. Your task is to answer the set of questions regarding the Iterator created from the pets dictionary. Use the console to help you answer them!

Pro tip: to break a line in the IPython Shell (not the script.py section), use Shift + Enter.

In [3]:
pets = {'Harry': 'Hedwig the owl', 'Hermione': 'Crookshanks the cat', 'Ron': 'Scabbers the rat'}

In [4]:
itnerval_iter = iter(pets)
next(itnerval_iter)
next(itnerval_iter)
list(itnerval_iter)

['Ron']

#### Traversing a DataFrame

Let's iterate through a DataFrame! You are given the heroes DataFrame you're already familiar with. This time, it contains only categorical data and no missing values. You have to create the following dictionary from this dataset:

Each key is a column name.
Each value is another dictionary:
Each key is a unique category from the column.
Each value is the amount of heroes falling into this category.
Tip: a Series object is also an Iterable. It traverses through the values it stores when you put it in a for loop or pass it to list(), tuple(), or set() initializers.

In [20]:
import pandas as pd

heroes = pd.read_excel('heroes.xls')

In [21]:
heroes.head()

,name,Gender,Eye color,Race,Hair color,Publisher,Skin color,Alignment
0,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,Dark Horse Comics,blue,good
1,Abin Sur,Male,blue,Ungaran,No Hair,DC Comics,red,good
2,Apocalypse,Male,red,Mutant,Black,Marvel Comics,grey,bad
3,Archangel,Male,blue,Mutant,Blond,Marvel Comics,blue,good
4,Ardina,Female,white,Alien,Orange,Marvel Comics,gold,good

In [22]:
column_counts = dict()

# Traverse through the columns in the heroes DataFrame
### .iteritems() is removed frmo pandas 2.0, one has to use .items()

for column_name, series in heroes.items():
    # Retrieve the values stored in series in a list form
    values = list(series)
    category_counts = dict()  
    # Traverse through unique categories in values
    for category in list(values):
        # Count the appearance of category in values
        category_counts[category] = values.count(category)
    
    column_counts[column_name] = category_counts
    
print(column_counts)

{'name': {'Abe Sapien': 1, 'Abin Sur': 1, 'Apocalypse': 1, 'Archangel': 1, 'Ardina': 1, 'Azazel': 1, 'Beast': 1, 'Beast Boy': 1, 'Bizarro': 1, 'Blackout': 1, 'Blink': 1, 'Brainiac': 1, 'Captain Atom': 1, 'Century': 1, 'Copycat': 1, 'Darkseid': 1, 'Domino': 1, 'Donatello': 1, 'Dr Manhattan': 1, 'Drax the Destroyer': 1, 'Etrigan': 1, 'Evilhawk': 1, 'Exodus': 1, 'Fin Fang Foom': 1, 'Gamora': 1, 'Gladiator': 1, 'Hulk': 1, 'Joker': 1, 'K-2SO': 1, 'Killer Croc': 1, 'Killer Frost': 1, 'Kilowog': 1, 'Klaw': 1, 'Leonardo': 1, 'Lobo': 1, 'Mantis': 1, 'Martian Manhunter': 1, 'Mystique': 1, 'Nebula': 1, 'Nova': 1, 'Poison Ivy': 1, 'Purple Man': 1, 'Red Hulk': 1, 'Shadow Lass': 1, 'Silver Surfer': 1, 'Sinestro': 1, 'Spectre': 1, 'Starfire': 1, 'Steppenwolf': 1, 'Swamp Thing': 1, 'Swarm': 1, 'Thanos': 1, 'Tiger Shark': 1, 'Toad': 1, 'Trigon': 1, 'Triton': 1, 'Vision': 1, 'Ymir': 1, 'Yoda': 1}, 'Gender': {'Male': 46, 'Female': 13}, 'Eye color': {'blue': 11, 'red': 16, 'white': 8, 'yellow': 5, 'green': 10, 'black': 4, 'yellow (without irises)': 1, 'purple': 1, 'grey': 1, 'gold': 1, 'brown': 1}, 'Race': {'Icthyo Sapien': 1, 'Ungaran': 1, 'Mutant': 11, 'Alien': 4, 'Neyaphem': 1, 'Human': 8, 'Bizarro': 1, 'Demon': 2, 'Android': 3, 'Human / Radiation': 3, 'New God': 2, 'Human / Cosmic': 2, 'Human / Altered': 1, 'Kakarantharaian': 1, 'Zen-Whoberian': 1, 'Strontian': 1, 'Metahuman': 1, 'Bolovaxian': 1, 'Czarnian': 1, 'Human-Kree': 1, 'Martian': 1, 'Luphomoid': 1, 'Talokite': 1, 'Korugaran': 1, 'God / Eternal': 3, 'Tamaranean': 1, 'Eternal': 1, 'Inhuman': 1, 'Frost Giant': 1, "Yoda's species": 1}, 'Hair color': {'No Hair': 25, 'Black': 14, 'Blond': 2, 'Orange': 1, 'Blue': 2, 'Green': 3, 'White': 4, 'Magenta': 1, 'Silver': 1, 'Red / Orange': 1, 'Red': 2, 'Purple': 1, 'Auburn': 1, 'Brown': 1}, 'Publisher': {'Dark Horse Comics': 1, 'DC Comics': 22, 'Marvel Comics': 32, 'IDW Publishing': 2, 'George Lucas': 2}, 'Skin color': {'blue': 9, 'red': 8, 'grey': 4, 'gold': 2, 'green': 17, 'white': 7, 'pink': 2, 'silver': 2, 'yellow': 2, 'purple': 3, 'gray': 1, 'blue-white': 1, 'orange': 1}, 'Alignment': {'good': 30, 'bad': 21, 'neutral': 8}}